#navigator-toolbox:not(:-moz-lwtheme) {
    background: var(--toolbar-field-background-color) !important;
}

#nav-bar {
    padding-block-start: 0px !important;

    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

#urlbar,
#urlbar * {
    padding-block-start: var(--uc-urlbar-top-spacing) !important;

    outline: none !important;
    box-shadow: none !important;
}

#urlbar-background {
    border: transparent !important;
}

#urlbar[focused='true'] > #urlbar-background,
#urlbar:not([open]) > #urlbar-background {
    background: var(--toolbar-field-background-color) !important;
}

.urlbarView-url {
    color: #556988;
}

#urlbar[open] > #urlbar-background {
    background: var(--toolbar-field-background-color) !important;
}

.urlbarView-row:hover {
    color: var(--uc-inverted-colour) !important;
}
.urlbarView-row-inner {
    :root:not([uidensity='compact']) & {
        min-height: 24px;
        color: var(--uc-inverted-colour) !important;
    }
}

.urlbarView-row[selected] > .urlbarView-row-inner {
    background: var(--toolbar-field-focus-background-color) !important;
}

#urlbar *|input::placeholder {
    color: transparent !important;
    opacity: 0 !important;
}

.urlbar-icon,
#urlbar-go-button {
    margin: auto;
}
.urlbar-page-action {
    padding: 0 inherit !important;
}
.urlbar-page-action .urlbar-icon {
    margin-top: 6px !important;
}

:root {
    --autocomplete-popup-highlight-color: var(--uc-inverted-colour) !important;
}
