[submodule "dots/nvim"]
	path = dots/nvim
	url = https://github.com/adriankarlen/nvim.git
[submodule "dots/zebar"]
	path = dots/zebar
	url = https://github.com/adriankarlen/zebar.git
[submodule "dots/.config/wezterm"]
	path = dots/.config/wezterm
	url = https://github.com/adriankarlen/wezterm.git
[submodule "wallpapers"]
	path = wallpapers
	url = https://github.com/adriankarlen/wallpapers.git
