* {
    font-family: Inter;
    font-size: 14px;
    font-weight: 800;
    color: #e0def4;
}

.bar {
    background: rgba(25, 23, 36, 0.95);
    border-radius: 8px;
    padding: 0px 10px;
    margin: 12px 10px 0 10px;
}

.komorebi-workspaces {
    margin-left: 0;
    border-radius: 8px;
    border: 1px solid #191724;
    background: #26233a;
}

.ws-btn {
    font-family: tabler-icons;
    padding: 5px 10px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    color: #6e6a86;
}

.ws-btn.populated {
    color: #e0def4;
}

.ws-btn:hover,
.ws-btn.active:hover,
.ws-btn.populated:hover {
    color: #908caa;
}

.ws-btn.active {
    color: #eb6f92;
}

.komorebi-active-layout {
    margin: 0 10px;
}

.komorebi-active-layout .label {
    padding: 2px 6px;
    color: #e0def4;
    font-size: 16px;
}

.active-window-widget {
    margin-left: 5px;
}
.active-window-widget .label {
    padding: -5px 7px 0 7px;
    color: #e0def4;
    margin-bottom: -1px;
    margin: 2px;
}

.cpu-icon-widget .label,
.memory-icon-widget .label,
.wifi-widget .label,
.explorer-widget .label,
.battery-widget .label {
    font-family: tabler-icons;
    font-weight: 400;
    padding: 2px 5px;
    font-size: 20px;
}

/* Hard coded widths until I get an Inter font installed with tabular numbers */
.cpu-icon-widget .label,
.memory-icon-widget .label {
    padding: 1px 0px 1px 5px;
}

.cpu-widget .label {
    max-width: 40px;
    min-width: 40px;
}

.memory-widget .label {
    max-width: 60px;
    min-width: 60px;
}

.cpu-widget .label,
.memory-widget .label {
    padding: 1px 5px 1px 0px;
}

.cpu-icon-widget .label {
    color: #f6c177;
}

.memory-icon-widget .label {
    color: #9ccfd8;
}

.wifi-widget .label {
    color: #c4a7e7;
    max-width: 30px;
}

.battery-widget .label.status-critical,
.battery-widget .label.status-low {
    color: #eb6f92;
}

.battery-widget .label.status-medium {
    color: #f6c177;
}

.battery-widget .label.status-high {
    color: #9ccfd8;
}

.battery-widget .label.status-full {
    color: #31748f;
}

.battery-widget .label.status-charging {
    color: #31748f;
}

.explorer-widget .label {
    color: #ebbcba;
    max-width: 30px;
    text-align: center;
}

.clock-widget {
    max-width: 125px;
    min-width: 125px;
}

.power-btn {
    font-family: tabler-icons;
    font-weight: 400;
    font-size: 20px;
    color: #c4a7e7;
    padding: 2px 0px;
    border-radius: 8px;
}

.power-btn::pressed {
    background: #26233a;
}

.power-btn::menu-indicator {
    image: none;
}
