/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * IMPORTANT NOTE
 * This file is parsed in js (see client/shared/theme.js)
 * so the formatting should be consistent (i.e. no '}' inside a rule).
 */

:root {
    --rp-base: #191724;
    --rp-surface: #1f1d2e;
    --rp-overlay: #26233a;
    --rp-muted: #59546d;
    --rp-subtle: #e0def4;
    --rp-text: #e0def4;
    --rp-love: #eb6f92;
    --rp-gold: #f6c177;
    --rp-rose: #ebbcba;
    --rp-pine: #31748f;
    --rp-foam: #9ccfd8;
    --rp-iris: #c4a7e7;
    --rp-highlight-low: #21202e;
    --rp-highlight-med: #403d52;
    --rp-highlight-high: #524f67;

    --rp-base-rgb: 25, 23, 36;
    --rp-surface-rgb: 31, 29, 46;
    --rp-overlay-rgb: 38, 35, 58;
    --rp-muted-rgb: 110, 106, 134;
    --rp-subtle-rgb: 144, 140, 170;
    --rp-text-rgb: 224, 222, 244;
    --rp-love-rgb: 235, 111, 146;
    --rp-gold-rgb: 246, 193, 119;
    --rp-rose-rgb: 235, 188, 186;
    --rp-pine-rgb: 49, 116, 143;
    --rp-foam-rgb: 156, 207, 216;
    --rp-iris-rgb: 196, 167, 231;
    --rp-highlight-low-rgb: 33, 32, 46;
    --rp-highlight-med-rgb: 64, 61, 82;
    --rp-highlight-high-rgb: 82, 79, 103;

    --theme-focus-border-color-textbox: var(--rp-foam);
    --theme-textbox-box-shadow: rgba(var(--rp-foam-rgb), 0.75);

    /* For accessibility purposes we want to enhance the focus styling. This
     * should improve keyboard navigation usability. */
    --theme-focus-outline: 1px dotted var(--theme-focus-outline-color);
    --theme-focus-box-shadow-textbox: 0 0 0 1px var(--theme-textbox-box-shadow);

    /* This should be similar to --highlighter-box-content-color from highlighter.css,
     * with lower opacity than the 0.6 we apply on highlighter so this can be used as
     * background color without being too bold
     */
    --dimmed-highlighter-box-content-color: rgba(var(--rp-pine-rgb), 0.4);

    /*
     * Photon Colors CSS Variables v3.3.2
     * - Colors are taken from https://github.com/FirefoxUX/photon-colors/blob/master/photon-colors.css
     * - We only add Photon color variables that we are actually using; unused
     *   variables will fail browser/base/content/test/static/browser_parsable_css.js
     * - We added a few unofficial colors: a few intermediary values (e.g. Blue 45),
     *   and lighter variants for the dark theme (e.g. Red 20, Red 40).
     */
    --magenta-50: var(--rp-rose) !important;
    --magenta-65: var(--rp-rose) !important;
    --magenta-70: var(--rp-rose) !important;

    --purple-50: var(--rp-iris) !important;
    --purple-60: var(--rp-iris) !important;
    --purple-30: var(--rp-iris) !important;

    --blue-30: var(--rp-foam) !important;
    --blue-40: var(--rp-foam) !important;
    --blue-50: var(--rp-foam) !important;
    --blue-50-a30: rgba(var(--rp-foam-rgb), 0.3) !important;
    --blue-55: var(--rp-foam) !important;
    --blue-60: var(--rp-foam) !important;
    --blue-70: var(--rp-foam) !important;
    --blue-80: var(--rp-foam) !important;

    --teal-60: var(--rp-pine) !important;
    --teal-70: var(--rp-surface) !important;

    --green-50: var(--rp-pine) !important;
    --green-60: var(--rp-pine) !important;
    --green-70: var(--rp-pine) !important;

    --yellow-50: var(--rp-gold) !important;
    --yellow-60: var(--rp-gold) !important;
    --yellow-65: var(--rp-gold) !important;
    --yellow-70: var(--rp-gold) !important;
    --yellow-80: var(--rp-gold) !important;

    --red-05: var(--rp-rose) !important;
    --red-20: var(--rp-rose) !important;
    --red-40: var(--rp-love) !important;
    --red-40-a90: rgba(var(--rp-love-rgb), 0.9) !important;
    --red-50: var(--rp-love) !important;
    --red-60: var(--rp-love) !important;
    --red-70: var(--rp-love) !important;

    --grey-10: var(--rp-text) !important;
    --grey-10-a15: rgba(var(--rp-text-rgb), 0.15) !important;
    --grey-10-a20: rgba(var(--rp-text-rgb), 0.2) !important;
    --grey-10-a25: rgba(var(--rp-text-rgb), 0.25) !important;
    --grey-10-a30: rgba(var(--rp-text-rgb), 0.3) !important;
    --grey-20: var(--rp-text) !important;
    --grey-25: var(--rp-subtle) !important;
    --grey-30: var(--rp-subtle) !important;
    --grey-35: var(--rp-subtle) !important;
    --grey-40: var(--rp-muted) !important;
    --grey-43: var(--rp-muted) !important;
    --grey-45: var(--rp-muted) !important;
    --grey-50: var(--rp-highlight-high) !important;
    --grey-55: var(--rp-highlight-high) !important;
    --grey-60: var(--rp-highlight-high) !important;
    --grey-70: var(--rp-highlight-med) !important;
    --grey-80: var(--rp-highlight-med) !important;
    --grey-85: var(--rp-highlight-med) !important;
    --grey-90: var(--rp-surface) !important;
    --grey-90-a05: rgba(var(--rp-surface-rgb), 0.05) !important;
    --grey-90-a10: rgba(var(--rp-surface-rgb), 0.1) !important;
    --grey-90-a15: rgba(var(--rp-surface-rgb), 0.15) !important;
    --grey-90-a20: rgba(var(--rp-surface-rgb), 0.2) !important;
    --grey-90-a30: rgba(var(--rp-surface-rgb), 0.3) !important;
}
